# Real-world Data Wrangling

In [156]:
# !python -m pip install kaggle==1.6.12

In [9]:
## !pip install --target=/workspace ucimlrepo numpy==1.24.3

**Note:** Restart the kernel to use updated package(s).

In [11]:
import pandas as pd
import numpy as np
import requests

## 1. Gather data

### **1.1.** Problem Statement
In this project, we will investigate the educational attainment levels among individuals employed in computer-related occupations in King County, Washington, by gathering, cleaning, and analyzing relevant data to identify trends, distributions, and potential correlations within the local workforce

### **1.2.** Gather at least two datasets using two different data gathering methods

#### **Dataset 1**

Type: XLS file

Method: The data was gathered using the "Downloading files" method from U.S Bureau of Labor Statistics (Occupational Employment and Wage Statistics tables)

Dataset variables:

*   *AREA:* Area code
*   *AREA_TITLE:* Title of the metropolitan area
*   *OCC_CODE:* Occupational Code
*   *OCC_TITLE:* Occupational Title
*   *A_MEAN:* Mean Annual Wage

In [16]:
## Load OEW Dataset to access king county/seattle-tacoma area dataset
oew_data = pd.read_excel('MSA_M2023_dl.xlsx')

## TODO
## rename MSA_M2023_dl.xlsx to 'oew_research_2023.xlsx'

In [17]:
## Check the datasets' first 5 rows
oew_data.head(5)

,AREA,AREA_TITLE,AREA_TYPE,PRIM_STATE,NAICS,NAICS_TITLE,I_GROUP,OWN_CODE,OCC_CODE,OCC_TITLE,...,H_MEDIAN,H_PCT75,H_PCT90,A_PCT10,A_PCT25,A_MEDIAN,A_PCT75,A_PCT90,ANNUAL,HOURLY
0,10180,"Abilene, TX",4,TX,0,Cross-industry,cross-industry,1235,00-0000,All Occupations,...,18.6,28.03,40.08,22750,28710,38680,58310,83360,NaN,NaN
1,10180,"Abilene, TX",4,TX,0,Cross-industry,cross-industry,1235,11-0000,Management Occupations,...,39.09,58.27,81.79,42080,59290,81310,121200,170130,NaN,NaN
2,10180,"Abilene, TX",4,TX,0,Cross-industry,cross-industry,1235,11-1011,Chief Executives,...,97.28,#,#,98490,135280,202340,#,#,NaN,NaN
3,10180,"Abilene, TX",4,TX,0,Cross-industry,cross-industry,1235,11-1021,General and Operations Managers,...,37.19,57.85,86.97,34440,49430,77360,120330,180900,NaN,NaN
4,10180,"Abilene, TX",4,TX,0,Cross-industry,cross-industry,1235,11-2021,Marketing Managers,...,45.31,72.66,97.35,60130,74980,94240,151130,202490,NaN,NaN

#### Dataset 2

Type: API

Method: The data was gathered using the "API" method from the United States Census Bureau Public Use Microdata Sample site

Dataset variables:

*   *SOCP:* Standard Occupational Classification (SOC) codes for 2018 and later based oin 2018 SOC codes
*   *SCHL:* Educational Attainment
*   *SCHL_RC1:* Educational Attainment recode

In [19]:
## Access PUMS API for census information for king county/seattle-tacoma dataset
url = 'https://api.census.gov/data/2023/acs/acs1/pums?get=PWGTP,SOCP,SCHL_RC1,SCHL&ucgid=795P200US5323304&recode+SCHL_RC1=%7B%22b%22:%22SCHL%22,%22d%22:%5B%5B%220%22,%2201%22,%2202%22,%2203%22,%2204%22,%2205%22,%2206%22,%2207%22,%2208%22,%2209%22,%2210%22,%2211%22,%2212%22,%2213%22,%2214%22,%2215%22%5D,%5B%2216%22,%2217%22%5D,%5B%2218%22,%2219%22%5D,%5B%2220%22,%2221%22%5D,%5B%2222%22,%2223%22,%2224%22%5D%5D%7D'
pums_response = requests.get(url)
pums_response.raise_for_status()

## Get the json
pums_response_data = pums_response.json()

## Create dataframe from json
pums_data = pd.DataFrame(pums_response_data)

In [20]:
## Check the data returns
print(pums_data.head(5))

       0       1         2     3      4      5
0  PWGTP    SOCP  SCHL_RC1  SCHL   PUMA  STATE
1     68       N         5    22  23304     53
2     63  151252         5    22  23304     53
3     62       N         5    22  23304     53
4     49       N         1     6  23304     53

## Assess Dataset 1 - OEW ##

#### Framework for completion ###
- 1. Issue Assessment
- -- State issue
- -- Identify issue: identification technique (visually or programmatically)
- -- Issue type (Data quality or Tidiness)
- -- Provide justification for issue
- 2. Clean Issue
- -- Cleaning strategy: 
- -- cleaning verification

In [33]:
## Make copy of dataset before assessment and cleaning
oew_data_copy = oew_data.copy()

In [35]:
## visual assessments
oew_data_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149591 entries, 0 to 149590
Data columns (total 32 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   AREA          149591 non-null  int64
 1   AREA_TITLE    149591 non-null  object
 2   AREA_TYPE     149591 non-null  int64
 3   PRIM_STATE    149591 non-null  object
 4   NAICS         149591 non-null  int64
 5   NAICS_TITLE   149591 non-null  object
 6   I_GROUP       149591 non-null  object
 7   OWN_CODE      149591 non-null  int64
 8   OCC_CODE      149591 non-null  object
 9   OCC_TITLE     149591 non-null  object
 10  O_GROUP       149591 non-null  object
 11  TOT_EMP       149591 non-null  object
 12  EMP_PRSE      149591 non-null  object
 13  JOBS_1000     149591 non-null  object
 14  LOC_QUOTIENT  149591 non-null  object
 15  PCT_TOTAL     0 non-null       float64
 16  PCT_RPT       0 non-null       float64
 17  H_MEAN        149591 non-null  object
 18  A_MEAN        149591 non-null  object
 19  MEAN_PRSE     149591 non-null  object
 20  H_PCT10       149591 non-null  object
 21  H_PCT25       149591 non-null  object
 22  H_MEDIAN      149591 non-null  object
 23  H_PCT75       149591 non-null  object
 24  H_PCT90       149591 non-null  object
 25  A_PCT10       149591 non-null  object
 26  A_PCT25       149591 non-null  object
 27  A_MEDIAN      149591 non-null  object
 28  A_PCT75       149591 non-null  object
 29  A_PCT90       149591 non-null  object
 30  ANNUAL        7912 non-null    object
 31  HOURLY        228 non-null     object
dtypes: float64(2), int64(4), object(26)
memory usage: 36.5+ MB

#### AD1 - Issues List -  ####
**Issue #1** column not needed for analysis
Issue Assessment
-- State issue: Dataset has columns not need for analysis, reduce footprint to only needed columns
-- identification technique: visually
-- Issue type: Tidiness
-- Provide justification for issue

#### AD1 - Issues  -  ####
**Issue #1** column not needed for analysis
Clean Issue
-- Cleaning strategy: select only needed columns
-- cleaning verification: .info() to verify columns

In [37]:
# Create subset of dataset needed for analysis
oew_cleaned = oew_data_copy[['AREA', 'OCC_CODE', 'OCC_TITLE', 'A_MEAN']].reindex()

In [39]:
# Inspecting the dataframe visually
oew_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149591 entries, 0 to 149590
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   AREA       149591 non-null  int64
 1   OCC_CODE   149591 non-null  object
 2   OCC_TITLE  149591 non-null  object
 3   A_MEAN     149591 non-null  object
dtypes: int64(1), object(3)
memory usage: 4.6+ MB

#### AD1 - Issues List -  ####
issue: A_MEAN is object instead of float
justification: calculations/graphs with columns require conversion

In [41]:
## check sample data in columns (visual assessment)
oew_cleaned.sample(20)

,AREA,OCC_CODE,OCC_TITLE,A_MEAN
140301,49660,17-3027,Mechanical Engineering Technologists and Techn...,63870
10248,12580,43-5032,"Dispatchers, Except Police, Fire, and Ambulance",51220
72109,30460,39-5092,Manicurists and Pedicurists,41040
42762,22140,25-9099,"Educational Instruction and Library Workers, A...",41290
8781,12420,21-1029,"Social Workers, All Other",72250
64338,28140,43-4199,"Information and Record Clerks, All Other",42890
54987,25860,29-2052,Pharmacy Technicians,39620
81907,33340,27-2031,Dancers,*
120778,43340,39-3031,"Ushers, Lobby Attendants, and Ticket Takers",28790
129022,45940,49-9052,Telecommunications Line Installers and Repairers,95580
37213,20100,33-0000,Protective Service Occupations,61030
91069,36220,33-0000,Protective Service Occupations,54340
123029,44060,43-5011,Cargo and Freight Agents,53670
129211,46060,21-1018,"Substance Abuse, Behavioral Disorder, and Ment...",56050
131258,46520,27-3091,Interpreters and Translators,60900
41866,21780,39-9032,Recreation Workers,29710
134468,47380,51-9195,"Molders, Shapers, and Casters, Except Metal an...",31060
123800,44180,39-7010,Tour and Travel Guides,31700
2417,10740,31-0000,Healthcare Support Occupations,33470
117077,42200,11-9039,"Education Administrators, All Other",120880

#### AD1 - Issues List -  ####
- issue: A_MEAN has value '*'
-

In [47]:
## issue identification: Programmatic
## issue type: validity/quality
## issue: In addition to '*' there was a "#" value in the columns. This are invalid since this column represents a float value
oew_cleaned['A_MEAN'].value_counts()

A_MEAN
*         1487
#          144
54330       50
46110       48
40820       47
          ...
207260       1
238120       1
193040       1
161570       1
295110       1
Name: count, Length: 15760, dtype: int64

In [53]:
## Cleaning strategy: Replace '*' & '#' with np.nan and convert column to float
## justification: allows for pandas function to handle missing values consistently
pd.set_option('future.no_silent_downcasting', True)

oew_cleaned['A_MEAN'] = oew_cleaned['A_MEAN'].replace(['*','#'], [np.nan, np.nan])
oew_cleaned['A_MEAN'].astype(float)

0          49780.0
1         100690.0
2         240020.0
3          98480.0
4         116290.0
            ...
149586     44550.0
149587     45740.0
149588     35630.0
149589     38900.0
149590     52670.0
Name: A_MEAN, Length: 149591, dtype: float64

In [168]:
## cleaning verification
oew_cleaned.isnull().sum().sum()

0

In [61]:
## Issue: We are only interested in analyzing Seattle-Tacoma-Washington data only
## Issue type: Tidyness
## Indentification: programmatic
## count for seattle code is 715 vs ~150k entries in dataset
seattle_area = 42660
oew_cleaned[oew_cleaned['AREA'] == seattle_area].value_counts()

AREA   OCC_CODE  OCC_TITLE                                                      A_MEAN
42660  00-0000   All Occupations                                                86520     1
       43-9051   Mail Clerks and Mail Machine Operators, Except Postal Service  45490     1
       43-4199   Information and Record Clerks, All Other                       53630     1
       43-5011   Cargo and Freight Agents                                       56020     1
       43-5021   Couriers and Messengers                                        46830     1
                                                                                         ..
       25-4022   Librarians and Media Collections Specialists                   99360     1
       25-4031   Library Technicians                                            62270     1
       25-9031   Instructional Coordinators                                     89850     1
       25-9044   Teaching Assistants, Postsecondary                             51030     1
       53-7199   Material Moving Workers, All Other                             60720     1
Name: count, Length: 715, dtype: int64

In [65]:
## Cleaning strategy: Filter out rows not relevant to analysis
## justification: reducing dataset size
seattle_area = 42660
oew_cleaned = oew_cleaned[oew_cleaned['AREA'] == seattle_area]

In [69]:
## Cleaning verification
oew_cleaned['AREA'].nunique()
## I can probably drop this column now. it is repeated for all columns and add no value to the analysis

1

In [71]:
oew_cleaned.sample(30)

,AREA,OCC_CODE,OCC_TITLE,A_MEAN
119179,42660,29-1021,"Dentists, General",205140
119598,42660,53-3053,Shuttle Drivers and Chauffeurs,43690
119575,42660,51-9124,"Coating, Painting, and Spraying Machine Setter...",66110
119202,42660,29-1215,Family Medicine Physicians,236250
119447,42660,47-4021,Elevator and Escalator Installers and Repairers,121110
119024,42660,19-1029,"Biological Scientists, All Other",105820
119168,42660,27-3099,"Media and Communication Workers, All Other",67090
119309,42660,39-1022,First-Line Supervisors of Personal Service Wor...,59920
118975,42660,15-1254,Web Developers,125040
119408,42660,45-2092,"Farmworkers and Laborers, Crop, Nursery, and G...",43510
118937,42660,13-1051,Cost Estimators,92930
118991,42660,17-2041,Chemical Engineers,122100
119608,42660,53-6021,Parking Attendants,40830
119173,42660,27-4021,Photographers,56240
119451,42660,47-4061,Rail-Track Laying and Maintenance Equipment Op...,73850
119535,42660,51-4199,"Metal Workers and Plastic Workers, All Other",63670
119044,42660,19-3091,Anthropologists and Archeologists,75190
119594,42660,53-3032,Heavy and Tractor-Trailer Truck Drivers,66270
119592,42660,53-2031,Flight Attendants,99440
119604,42660,53-5011,Sailors and Marine Oilers,59550
119177,42660,29-0000,Healthcare Practitioners and Technical Occupat...,124720
119091,42660,25-1061,"Anthropology and Archeology Teachers, Postseco...",92110
119505,42660,51-2011,"Aircraft Structure, Surfaces, Rigging, and Sys...",76100
119164,42660,27-3041,Editors,93220
119280,42660,35-1011,Chefs and Head Cooks,74100
119000,42660,17-2131,Materials Engineers,127590
119213,42660,29-1249,"Surgeons, All Other",253900
119143,42660,27-1011,Art Directors,160140
119437,42660,47-2181,Roofers,71740
119513,42660,51-3022,"Meat, Poultry, and Fish Cutters and Trimmers",40150

In [73]:
## Issue: We are only interested in analyzing computer-related occupations data only
## Issue type: Tidyness
## Indentification: visual 
## (OCC_TITLE column has non-computer related descriptions)
## ============================================================

## cleaning strategy: Filter out all other OCC_CODEs 
comsci_startwith = '15-'
oew_cleaned = oew_cleaned[ oew_cleaned['OCC_CODE'].str.startswith(comsci_startwith)]

In [159]:
## Cleaning verification
oew_cleaned.head()

         AREA OCC_CODE                                     OCC_TITLE  A_MEAN
118962  42660  15-0000         Computer and Mathematical Occupations  144530
118963  42660  15-1211                     Computer Systems Analysts  138410
118964  42660  15-1212                 Information Security Analysts  154600
118965  42660  15-1221  Computer and Information Research Scientists  211410
118966  42660  15-1231          Computer Network Support Specialists  100650

In [83]:
oew_cleaned.duplicated()

118962    False
118963    False
118964    False
118965    False
118966    False
118967    False
118968    False
118969    False
118970    False
118971    False
118972    False
118973    False
118974    False
118975    False
118976    False
118977    False
118978    False
118979    False
118980    False
118981    False
118982    False
118983    False
dtype: bool

## Assess Dataset 2 ## -- PUMS

#### Framework for completion ###
- 1. Issue Assessment
- -- State issue
- -- Identify issue: identification technique (visually or programmatically)
- -- Issue type (Data quality or Tidiness)
- -- Provide justification for issue
- 2. Clean Issue
- -- Cleaning strategy: 
- -- cleaning verification

In [94]:
## Make copy of dataset before assessment and cleaning
pums_data_copy = pums_data.copy()

In [96]:
### header is the first row of data 
print(pums_data_copy.head(5))

       0       1         2     3      4      5
0  PWGTP    SOCP  SCHL_RC1  SCHL   PUMA  STATE
1     68       N         5    22  23304     53
2     63  151252         5    22  23304     53
3     62       N         5    22  23304     53
4     49       N         1     6  23304     53

In [98]:
## Issue columns headers are rows in the dataset
## Identification: visual
## issue type: Quality (?)
## justification: fix for easy assess to column data

# Cleaning strategy - Fix issue with column headers
columns = pums_response_data[0]
rows = pums_response_data[1:]
pums_cleaned = pd.DataFrame(rows, columns=columns)

In [104]:
# Cleaning verification
pums_cleaned.columns

Index(['PWGTP', 'SOCP', 'SCHL_RC1', 'SCHL', 'PUMA', 'STATE'], dtype='object')

In [114]:
## Issue invalid data in SOCP columns
## identification: programmatics/visual?
## issue type: Quality - Invalid value of 'N' in this context
pums_cleaned['SOCP'].describe()

count     1774
unique     218
top          N
freq       691
Name: SOCP, dtype: object

In [116]:
#cleaning strategy - remove the rows with SOCP value on 'N' they are not relevant in this context
pums_cleaned = pums_cleaned[pums_cleaned['SOCP'] != 'N']

In [172]:
#cleaning verification
print((pums_cleaned['SOCP'] == 'N').sum())
pums_cleaned['SOCP'].isnull().sum()

0

0

#### Issue SCHL_RC1 needs to be resolved to the educational attainment string value ####

In [141]:
# Issue tidying up the dataset to leave only columns needed for analysis
# Issue type: Tidiness
# Identification type: Visual 
# Create subset of dataset needed for analysis
pums_cleaned = pums_cleaned[['SOCP','SCHL_RC1', 'SCHL']].reindex()

In [174]:
pums_cleaned.duplicated().value_counts()

False    1020
True       63
Name: count, dtype: int64

In [ ]:
### ISSUE OCC_CODE (xx-xxxx) and SOCP (xxxxxx) code are in different formats
### issue type: consistency
## identification type: visual

### TODO ###
### - Turn SCHL_RC1 into actual
#### SCHL_RC1 == 0 => [No high school diploma] => SCHL == [0-15]
#### SCHL_RC1 == 1 => [high school diploma] => SCHL == [16-17]
#### SCHL_RC1 == 2 => [Completed Some College] => SCHL == [18-19]
#### SCHL_RC1 == 3 => [Graduated College] => SCHL == [20-21]
#### SCHL_RC1 == 4 => [Completed Advance Degree] => SCHL == [22-24]
#### Data Quality issue - completeness address by above?

### Dimensions of data quality ###

**Completeness** is a metric that helps you understand whether your data is sufficient to answer interesting questions or solve your problem.
**Validity** is a metric helping you understand how well your data conforms to a defined set of rules for data, also known as a schema.
**Accuracy** is a metric that helps you understand whether your data accurately represents the reality it aims to depict.
**Consistency** is a metric that helps you understand two things: whether your data follows a standard format and whether your dataâ€™s info matches with information from other data sources.
**Uniqueness** is a metric that helps you understand whether there are duplicate or overlapping values in your data.

## validity - check that salary is within range and there are no outliers ## std +-1 ) (programmatic) ##
## DATA QUALITY check for uniqueness (programmatic assessment) ##

### requirements for tidiness: ###
Each **variable** forms a column
Each **observation** forms a row
Each type of **observational unit** forms a table

## 2. Assess data

Assess the data according to data quality and tidiness metrics using the report below.

List **two** data quality issues and **two** tidiness issues. Assess each data issue visually **and** programmatically, then briefly describe the issue you find.  **Make sure you include justifications for the methods you use for the assessment.**

### Quality Issue 1:

In [225]:
### header is the first row of data 
print(pums_data.head(5))

       0       1         2     3      4      5
0  PWGTP    SOCP  SCHL_RC1  SCHL   PUMA  STATE
1     47       N         3    19  23304     53
2     74  537062         3    19  23304     53
3     54       N         4    21  23304     53
4     18       N         4    21  23304     53

Issue and justification: *column header* is the first row of dataset

### Quality Issue 2:

In [232]:
# Inspecting the dataframe programmatically
pums_data.describe()

           0     1     2     3      4     5
count   1775  1775  1775  1775   1775  1775
unique   265   219     6    26      2     2
top       66     N     4    21  23304    53
freq      40   691   625   552   1774  1774

Issue and justification:
*SOCP has a value N which is invalid entry in this context and should be removed from the dataset*

### Tidiness Issue 1:

Issue and justification: *For my analysis, A_MEAN should be a float/int64 and not an object. It also has values '\*' and '#' which are invalid*

### Tidiness Issue 2:

In [325]:
## Inspecting the dataframe visually
pums_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1775 entries, 0 to 1774
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       1775 non-null   object
 1   1       1775 non-null   object
 2   2       1775 non-null   object
 3   3       1775 non-null   object
 4   4       1775 non-null   object
 5   5       1775 non-null   object
dtypes: object(6)
memory usage: 83.3+ KB

In [327]:
#Inspecting the dataframe programmatically
pums_data.isnull().sum()

0    0
1    0
2    0
3    0
4    0
5    0
dtype: int64

Issue and justification: *FILL IN*

## 3. Clean data
Clean the data to solve the 4 issues corresponding to data quality and tidiness found in the assessing step. **Make sure you include justifications for your cleaning decisions.**

After the cleaning for each issue, please use **either** the visually or programatical method to validate the cleaning was succesful.

At this stage, you are also expected to remove variables that are unnecessary for your analysis and combine your datasets. Depending on your datasets, you may choose to perform variable combination and elimination before or after the cleaning stage. Your dataset must have **at least** 4 variables after combining the data.

### **Quality Issue 1: FILL IN**

Justification: *Fixing the column headers improves that handling when trying to combine the data from the two datasets to use column names instead of numbers*

### **Quality Issue 2: FILL IN**

Justification: *SOCP has a row with value 'N' which is invalid entry in this context and after the analysis if not removed*

### **Tidiness Issue 1: FILL IN**

Justification: *Replacing this values with np.nan exlcudes them from calculations of mean and sum by default*

### **Tidiness Issue 2: FILL IN**

In [ ]:
#FILL IN - Apply the cleaning strategy

In [ ]:
#FILL IN - Validate the cleaning was successful

Justification: *FILL IN*

### **Remove unnecessary variables and combine datasets**

Depending on the datasets, you can also peform the combination before the cleaning steps.

In [ ]:
#FILL IN - Remove unnecessary variables and combine datasets

## 4. Update your data store
Update your local database/data store with the cleaned data, following best practices for storing your cleaned data:

- Must maintain different instances / versions of data (raw and cleaned data)
- Must name the dataset files informatively
- Ensure both the raw and cleaned data is saved to your database/data store

In [154]:
#FILL IN - saving data
# merged_df.to_csv('pums_oews_2021_ocp_gender.csv', index=False)

## 5. Answer the research question

### **5.1:** Define and answer the research question 
Going back to the problem statement in step 1, use the cleaned data to answer the question you raised. Produce **at least** two visualizations using the cleaned data and explain how they help you answer the question.

*Research question:* FILL IN from answer to Step 1

In [ ]:
#Visual 1 - FILL IN

*Answer to research question:* FILL IN

In [ ]:
#Visual 2 - FILL IN

*Answer to research question:* FILL IN

### **5.2:** Reflection
In 2-4 sentences, if you had more time to complete the project, what actions would you take? For example, which data quality and structural issues would you look into further, and what research questions would you further explore?

*Answer:* FILL IN